* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-image: url(./images/AdobeStock_165294159.jpg);
  
  }
  
  .navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #0c0303;
    height: fit-content;
    
  }
  
  .brand-title {
    font-size: 2.7rem;
    margin: 0rem;
    color: #d8f6ff;
    font-family: "DM Sans", sans-serif;
  }
  
  .navbar-links {
    height: 100%;
  }
  
  .navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    list-style: none;
  }
  
  .navbar-links li a {
    display: block;
    text-decoration: none;
    color: #d8f6ff;
    font-family: "DM Sans", sans-serif;
    font-size: 1.5em;
    padding: 0.9rem;
  }
  
  .navbar-links li:hover {
    background-color: #555;
  }
  
  .toggle-button {
    position: absolute;
    top: 1.4rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #d8f6ff;
    border-radius: 10px;
  }

  main{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;

  }
  
  .text-box {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 1070px;
    width: 650px;
    background-color: #555;
    opacity: 0.9;
    border-radius: 40px;
    border: solid #d8f6ff 7px;
  }
  
  .text-box p {
    font-size: 20px;
    font-family: "DM Sans", sans-serif;
    line-height: 1.5;
    text-align: justify;
    color: #f9f1f1;
    background-color: #555;
    text-shadow: 2px 2px 4px rgba(0, 0, 0.8, 2);
    /* Horizontal offset, vertical offset, blur radius, color */
    padding: 20px 50px;
  }
  
  .about-h1-title {
    font-size: 80px;
    padding: 0px 80px;
    padding-top: 20px;
    color: rgb(252, 245, 245);
    text-shadow: 2px 2px 4px rgba(0, 0, 0.8, 2);
    /* Horizontal offset, vertical offset, blur radius, color */
  }

    
footer {
    background-color: #333;
    color: white;
    height: 300px;
    position: relative;
  
  }
  
  .footer-content {
    display: flex;
    justify-content: left;
    padding-left: 80px;
  }
  
  .div-footer ul {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 10px;
    text-align: center;
  }
  
  .div-footer li:hover {
    text-decoration: underline;
  }
  
  .design-details {
    font-size: 18px;
    padding-left: 30px;
    margin-top: 100px;
  }
  
  .div-footer-icons {
    font-size: 50px;
    padding-top: 62px;
    margin-left: 20px;
  }
  
  .div-footer-icons i {
    padding: 15px;
  }
  
  .div-footer-icons a:hover {
    color: cadetblue;
  }

  

@media (max-width: 800px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      
    }
  
    .toggle-button {
      display: flex;
    }
  
    .navbar-links {
      display: none;
      width: 100%;
    }
  
    .navbar-links ul {
      width: 100%;
      flex-direction: column;
    }
  
    .navbar-links ul li {
      text-align: center;
    }
  
    .navbar-links ul li a {
      padding: 0.5rem 1rem;
    }
  
    .navbar-links.active {
      display: flex;
    }
  
    .design-details {
      font-size: 10px;
    }
  
    .div-footer-icons {
      font-size: 20px;
      padding-right: 12px;
    }
  
    .div-footer a {
      font-size: 15px;
    }
  
    .footer-content {
      padding-left: 30px;
    }
  
    
    .text-box {
      margin-top: 50px;
      height: 900px;
      width: 500px;
      background-color: #555;
      opacity: 0.9;
      border-radius: 40px;
      border: solid #d8f6ff 7px;
    }
    
    .text-box p {
      font-size: 15px;
      font-family: "DM Sans", sans-serif;
      line-height: 1.5;
      text-align: justify;
      color: #f9f1f1;
      text-shadow: 2px 2px 4px rgba(0, 0, 0.8, 2);
      /* Horizontal offset, vertical offset, blur radius, color */
      padding: 30px 50px;
    }
    
    .about-h1-title {
      font-size: 70px;
      padding: 0px 80px;
      padding-top: 20px;
      color: rgb(252, 245, 245);
      text-shadow: 2px 2px 4px rgba(0, 0, 0.8, 2);
      /* Horizontal offset, vertical offset, blur radius, color */
    }
  
  }
  